{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Course - {{ course.name }} Comments - Mydemy{% endblock %}

{% block custom_css %}
    <link href="{% static 'css/aui.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/mooc.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/common/base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/common/common-less.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/common/course/common-less.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/common/course/learn-less.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block crumbs %}
    <div class="wp">
        <ul  class="crumbs">
            <li><a href="/">Main page</a>></li>
            <li><a href="{% url 'course:list' %}">Courses</a>></li>
            <li>Comments</li>
        </ul>
    </div>
{% endblock %}


{% block content %}
    <div id="main">
        <div class="course-infos">
        <div class="w pr">
            <div style="height: 15px" class="path">
            </div>
            <div class="hd">
                <h2 class="l">{{ course.name }}</h2>
            </div>
            <div class="statics clearfix">
                <div class="static-item ">
                    <span class="meta-value"><strong>{{ course.difficulty }}</strong></span>
                    <span class="meta">Difficulty</span>
                    <em></em>
                </div>
                <div class="static-item static-time">
                    <span class="meta-value"><strong>{{ course.course_duration }}</strong></span>
                    <span class="meta">Duration</span>
                    <em></em>
                </div>
                <div class="static-item">
                    <span class="meta-value"><strong>{{ course.student_count }}</strong></span>
                    <span class="meta">Students</span>
                    <em></em>
                </div>
            </div>
        </div>
    </div>
        <div class="course-info-main clearfix w has-progress">
        <div class="info-bar clearfix">
            <div class="content-wrap clearfix">
                <div class="content">
                    <div class="mod-tab-menu">
                        <ul class="course-menu clearfix">
                            <li><a class="ui-tabs-active " id="learnOn"  href="{% url 'course:video_list' course.id %}"><span>Chapters</span></a></li>
                            <li><a id="commentOn" class="active" href="/comment/452"><span>Comments</span></a></li>
                        </ul>
                    </div>

                    <div id="js-pub-container" class="issques clearfix js-form">
                        <div class="wgt-ipt-wrap pub-editor-wrap " id="js-pl-input-fake">
                            <textarea id="js-pl-textarea" class="" placeholder="Comment here......"></textarea>
                        </div>
                        <input type="button" id="js-pl-submit" class="pub-btn" data-cid="452" value="Comment">
                        <p class="global-errortip js-global-error"></p>
                    </div>

                    <div id="course_note">
                        <ul class="mod-post" id="comment-list">
                            {% for comment in comments.object_list %}
                                <li class="post-row">
                                <div class="media">
                                    <a href="{% url 'course:video_list' course.id %}" target="_blank"><img src='{{ MEDIA_URL }}{{ comment.user.image }}' width='40' height='40' /></a>
                                </div>
                                <div class="bd">
                                    <div class="tit">
                                        <a href="{% url 'course:video_list' course.id %}" target="_blank">{{ comment.user.nickname }}</a>
                                    </div>
                                    <p class="cnt">{{ comment.comment }}</p>
                                    <div class="footer clearfix">
                                        <span title="Time Commented" class="l timeago">{{ comment.create_time }}</span>
                                        <div class="actions r">
                                            <a title="Like" href="javascript:;" class="js-pl-praise list-praise post-action "  data-id="137831">
                                                <span class="icon-thumb "></span><em>1</em>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}

                        </ul>
                        <div class="page">
                            {% if comments.has_previous %}
                                <span><a href="?{{ comments.previous_page_number.querystring }}">Prev</a></span>
                            {% endif %}
                            {% for page in comments.pages %}
                                {% if page %}
                                    {% ifequal page comments.number %}
                                        <span><a class="active">{{ page }}</a></span>
                                    {% else %}
                                        <span><a href="?{{ page.querystring }}">{{ page }}</a></span>
                                    {% endifequal %}
                                {% endif %}
                            {% endfor %}
                            {% if comments.has_next %}
                                <span><a href="?{{ comments.next_page_number.querystring }}">Next</a></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="aside r">
                    <div class="bd">

                        <div class="box mb40">
                            <h4>Course Resources</h4>
                            <ul class="downlist">
                                {% for res in res_list %}
                                    <li>
                                        <span ><i class="aui-iconfont aui-icon-file"></i>&nbsp;&nbsp;{{ res.name }}</span>
                                        <a href="{{ MEDIA_URL }}{{ res.download }}" class="downcode" target="_blank">Download</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="box mb40">
                            <h4>About the instructor</h4>
                            <div class="teacher-info">
                                <a href="???" target="_blank">
                                    <img src='{{ MEDIA_URL }}{{ instructor.avatar }}' width='80' height='80' />
                                </a>
                                <span class="tit">
                                    <a href="????" target="_blank">{{ instructor.name }}</a>
                                </span>
                                <span class="job">{{ instructor.curr_title }}</span>
                            </div>
                            <div class="course-info-tip">
                                <dl class="first">
                                    <dt>Instructor Notes</dt>
                                    <dd class="autowrap">{{ course.course_notes }}</dd>
                                </dl>
                                <dl>
                                    <dt>Course Objectives</dt>
                                    <dd class="autowrap">{{ course.course_objectives }}</dd>
                                </dl>
                            </div>
                        </div>

                        <div class="cp-other-learned  js-comp-tabs">
                            <div class="cp-header clearfix">
                                <h2 class="cp-tit l">Related Top Courses</h2>
                            </div>
                            <div class="cp-body">
                                <div class="cp-tab-pannel js-comp-tab-pannel" data-pannel="course" style="display: block">
                                    <ul class="other-list">
                                        {% for related_course in related_courses %}
                                            <li class="curr">
                                                <a href="{% url 'course:overview' related_course.id %}" target="_blank">
                                                    <img src="{{ MEDIA_URL }}{{ related_course.image }}" alt="{{ related_course.name }}">
                                                    <span class="name autowrap">{{ related_course.name }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </div>
{% endblock %}


{% block custom_js %}
    <script type="text/javascript">
        (function () {
            $("#js-pl-submit").on('click', function(){
                var comment = $("#js-pl-textarea").val();
                if (comment) {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "{% url 'course:add_comment' %}",
                        data:{
                            course_id: {{ course.id }},
                            comment: comment
                        },
                        async: true,
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                        },
                        success: function (data) {
                            if (data.status == 'fail') {
                                if (data.err_msg == 'Login Required') {
                                    console.log("Go go login");
                                    window.location.href = "{% url 'login' %}";
                                } else {
                                    alert(data.err_msg);
                                }
                            } else if (data.status == 'success') {
                                window.location.reload();
                            }
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                } else {
                    alert("Comment cannot be empty");
                }
            });
        })();
    </script>
{% endblock %}
