{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ video.name  }} - Mydemy {% endblock %}

{% block crumbs %}
    <section>
        <div class="wp">
            <div class="crumbs">
                <ul>
                    <li><a href="/">Main page</a>></li>
                    <li><a href="{% url 'course:list' %}">Courses</a>></li>
                    <li><a href="{% url 'course:overview' course.id %}">{{ course.name }}></a></li>
                    <li>{{ video.name }}</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <div id="main">
        <div class="course-infos">
            <div style="width: 1200px;height: 675px; margin: 0 auto;">
               <video id="example_video_1" class="video-js, vjs-default-skin" controls preload="none" width="1200" poster="" style=" max-height: 700px;"><source src="{{ video.video_url }}" type="video/mp4"></video>
           </div>
        </div>
        <div class="course-infos">
            <div class="w pr">
            <div style="height: 15px" class="path">
            </div>
            <div class="hd">
                <h2 class="l">{{ course.name }}</h2>
            </div>
            <div class="statics clearfix">
                <div class="static-item ">
                    <span class="meta-value"><strong>{{ course.difficulty }}</strong></span>
                    <span class="meta">Difficulty</span>
                    <em></em>
                </div>
                <div class="static-item static-time">
                    <span class="meta-value"><strong>{{ course.course_duration }}</strong></span>
                    <span class="meta">Duration</span>
                    <em></em>
                </div>
                <div class="static-item">
                    <span class="meta-value"><strong>{{ course.student_count }}</strong></span>
                    <span class="meta">Students</span>
                    <em></em>
                </div>
            </div>
        </div>
        </div>
        <div class="course-info-main clearfix w has-progress">
            <div class="info-bar clearfix">
            <div class="content-wrap clearfix">
                <div class="content">
                    <div class="mod-tab-menu">
                        <ul class="course-menu clearfix">
                            <li><a class="ui-tabs-active active" id="learnOn"  href="course_detail_videolist.html"><span>Chapters</span></a></li>
                            <li><a id="commentOn" class="" href="{% url 'course:comments' course.id %}"><span>Comments</span></a></li>
                        </ul>
                    </div>
                    <div id="notice" class="clearfix">
                        <div class="l">
                            <strong>Notifications:</strong>
                            <a  href="javascript:void(0)">Spring的文档以及相关的jar文件已上传</a>
                        </div>
                    </div>
                    <div class="mod-chapters">
                        {% for lesson in lessons %}
                            <div class="chapter chapter-active" >
                                <h3>
                                    <span class="aui-iconfont aui-icon-move"></span>
                                    <strong><i class="state-expand"></i>{{ lesson.name }}</strong>
                                </h3>
                                <ul class="video">
                                    {% for v in lesson.get_all_videos %}
                                        <li>
                                            <a href='{% url 'course:video_play' v.id %}' class="J-media-item studyvideo">
                                                {{ v.name }} ({{ v.video_duration }})
                                                <i class="study-state"></i>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="aside r">
                    <div class="bd">
                        <div class="box mb40">
                            <h4>Course Resources</h4>
                            <ul class="downlist">
                                {% for res in res_list %}
                                    <li>
                                        <span ><i class="aui-iconfont aui-icon-file"></i>&nbsp;&nbsp;{{ res.name }}</span>
                                        <a href="{{ MEDIA_URL }}{{ res.download }}" class="downcode" target="_blank">Download</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="box mb40">
                            <h4>About the instructor</h4>
                            <div class="teacher-info">
                                <a href="???" target="_blank">
                                    <img src='{{ MEDIA_URL }}{{ instructor.avatar }}' width='80' height='80' />
                                </a>
                                <span class="tit">
                                    <a href="????" target="_blank">{{ instructor.name }}</a>
                                </span>
                                <span class="job">{{ instructor.curr_title }}</span>
                            </div>
                            <div class="course-info-tip">
                                <dl class="first">
                                    <dt>Instructor Notes</dt>
                                    <dd class="autowrap">{{ course.course_notes }}</dd>
                                </dl>
                                <dl>
                                    <dt>Course Objectives</dt>
                                    <dd class="autowrap">{{ course.course_objectives }}</dd>
                                </dl>
                            </div>
                        </div>

                        <div class="cp-other-learned  js-comp-tabs">
                            <div class="cp-header clearfix">
                                <h2 class="cp-tit l">Related Top Courses</h2>
                            </div>
                            <div class="cp-body">
                                <div class="cp-tab-pannel js-comp-tab-pannel" data-pannel="course" style="display: block">
                                    <ul class="other-list">
                                        {% for related_course in related_courses %}
                                            <li class="curr">
                                                <a href="{% url 'course:overview' related_course.id %}" target="_blank">
                                                    <img src="{{ MEDIA_URL }}{{ related_course.image }}" alt="{{ related_course.name }}">
                                                    <span class="name autowrap">{{ related_course.name }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        </div>
    </div>

{% endblock %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/common-less.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/course/learn-less.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/aui.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mooc.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/common/course/common-less.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/video-js.min.css' %}">
    <style>
        .video-js .vjs-big-play-button{
            top: 50%;
            left:50%;
        }
    </style>
{% endblock %}
{% block custom_js %}
    <script src="{% static 'js/video.min.js' %}" type="text/javascript"></script>
{% endblock %}