{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Mydemy{% endblock %}

{% block crumbs %}
{% endblock crumbs %}

{% block content %}
    <div class="banner"><!--banner start-->
			<div class="wp">
				<div class="fl">
					<div class="imgslide">
						<ul class="imgs">
                                <li>
                                    <a href="">
                                        <img width="1200" height="478" class="scrollLoading" data-url="/static/images/57a801860001c34b12000460.jpg" src="/static/images/pixel.gif" />
                                    </a>
                                </li>

                                <li>
                                    <a href="">
                                        <img width="1200" height="478" class="scrollLoading" data-url="/static/images/57aa86a0000145c512000460.jpg" src="/static/images/pixel.gif" />
                                    </a>
                                </li>

                                <li>
                                    <a href="http://mp.weixin.qq.com/s?__biz=MzIxOTExMDA5OA==&amp;mid=2656196547&amp;idx=1&amp;sn=9a99586fb1b1a01c8b5c0e6c81bd307a&amp;scene=1&amp;srcid=0720EO3WmlldCDYMA6cw8mBp#wechat_redirect">
                                        <img width="1200" height="478" class="scrollLoading" data-url="/static/images/57a801860001c34b12000460.jpg" src="/static/images/pixel.gif" />
                                    </a>
                                </li>

                                <li>
                                    <a href="http://www.domile.com.cn/company/19/">
                                        <img width="1200" height="478" class="scrollLoading" data-url="/static/images/57aa86a0000145c512000460.jpg" src="/static/images/pixel.gif" />
                                    </a>
                                </li>

                                <li>
                                    <a href="http://www.domile.com.cn/company/19/">
                                        <img width="1200" height="478" class="scrollLoading" data-url="/static/images/57a801860001c34b12000460.jpg" src="/static/images/pixel.gif" />
                                    </a>
                                </li>
						</ul>
					</div>
					<div class="unslider-arrow prev"></div>
					<div class="unslider-arrow next"></div>
				</div>
				<div class="fr">
					<div class="top">
						<ul class="sec_topr_tab">
                            <li class="sec_top_li on" data-type="1"><a href="javascript:;">课程咨询</a></li>
                        </ul>
                        <i class="index_ico_arrow"></i>
                        <p class="sec_top_p" id="secTips">留下联系方式，快速获取信息</p>
						<form id="jsDemandForm">
                            <input type="hidden" id="jsWantType" name="want_type" value="1">
                            <input class="icon1" id="name" name="name" type="text" placeholder="请输入姓名"/>
							<input class="icon2" id="mobile" name="mobile" type="text" placeholder="请输入手机号码"/>
                            <input class="icon2" id="mobile" name="mobile" type="text" placeholder="请输入课程"/>
                            <p class="demand_form_tips" id="jsDemandTips"></p>
							<input class="submit demand_form_btn" id="jsDemandBtn" type="button" value="点击提交" />
                            <input type='hidden' name='csrfmiddlewaretoken' value='mymQDzHWl2REXIfPMg2mJaLqDfaS1sD5' />
						</form>
					</div>
					<div class="bottom">
						<h1>最新课程<a class="more" href="article-list.html">更多></a> </h1>
						<ul>
                            <li><a href="/knowledge/detail/3/">django中如何实现多数据库配置</a></li>
                            <li><a href="/knowledge/detail/2/">python逐渐成为高校首选课程</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	<section>
		<div class="wp">
			<ul class="feature">
				<li class="feature1">
					<img class="pic" src="/static/images/feature1.png"/>
					<p class="center">专业权威</p>
				</li>
				<li class="feature2">
					<img class="pic" src="/static/images/feature2.png"/>
					<p class="center">课程最新</p>
				</li>
				<li class="feature3">
					<img class="pic" src="/static/images/feature3.png"/>
					<p class="center">名师授课</p>
				</li>
				<li class="feature4">
					<img class="pic" src="/static/images/feature4.png"/>
					<p class="center">数据真实</p>
				</li>
			</ul>
		</div>
	</section>
	<section>
		<div class="module">
			<div class="wp">
				<h1>Courses</h1>
				<div class="module1 eachmod">
					<div class="module1_1 left">
						<img width="228" height="614" src="/static/images/module1_1.jpg"/>
						<a class="more" href="{% url 'course:list' %}">More></a>
					</div>
					<div class="right group_list">
						<div class="module1_2 box">
							<div class="imgslide2">
								<ul class="imgs">
                                    {% for course in on_sale_courses %}
                                        <li>
                                            <a href="{% url 'course:overview' course.id %}">
                                                <img width="470" height="300" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}" />
                                            </a>
                                        </li>
                                    {% endfor %}
								</ul>
							</div>
							<div class="unslider-arrow2 prev"></div>
							<div class="unslider-arrow2 next"></div>
						</div>
                            {% for course in courses %}
                                <div class="module1_{{ forloop.counter0 | add:3 }} box">
                                    <a href="{% url 'course:overview' course.id %}">
                                        <img width="233" height="190" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}"/>
                                    </a>
                                    <div class="des">
                                        <a href="{% url 'course:overview' course.id %}">
                                            <h2 title="{{ course.name }}">{{ course.name }}</h2>
                                        </a>
                                        <span class="fl">Difficulty: <i class="key">{{ course.difficulty }}</i></span>
                                        <span class="fr">Students: {{ course.student_count }}</span>
                                    </div>
                                    <div class="bottom">
                                        <span class="fl" title="{{ course.org.name }}">{{ course.org.name }}</span>
                                        <span class="star fr">{{ course.fav_count }}</span>
                                    </div>
                                </div>
                            {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="module greybg">
			<div class="wp">
				<h1>Organization</h1>
				<div class="module3 eachmod">
					<div class="module3_1 left">
						<img width="228" height="463" src="/static/images/module3_1.jpg"/>
						<a class="more" href="{% url 'org:list' %}">More></a>
					</div>
					<div class="right">
						<ul>
                            {% for org in orgs %}
                                <li class="{% if forloop.counter|divisibleby:5 %}five{% endif %}">
                                    <a href="{% url 'org:org_overview' org.id %}">
                                        <div class="company">
                                            <img width="184" height="100" class="scrollLoading" src="{{ MEDIA_URL }}{{ org.image }}"/>
                                        </div>
                                        <p><span class="key" title="{{ org.name }}">{{ org.name }}</span></p>
                                    </a>
                                </li>
                            {% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}


{% block custom_js %}
	<script type="text/javascript" src="/static/js/index.js"></script>
    <script>
            var shareUrl = '',
                shareText = '',
                shareDesc = '',
                shareComment = '';
            $(function () {
                $(".bdsharebuttonbox a").mouseover(function () {
                    var type = $(this).attr('data-cmd'),
                        $parent = $(this).parent('.bdsharebuttonbox'),
                        fxurl = $parent.attr('data-url'),
                        fxtext = $parent.attr('data-text'),
                        fxdesc = $parent.attr('data-desc'),
                        fxcomment = $parent.attr('data-comment');
                    switch (type){
                        case 'tsina':
                        case 'tqq':
                        case 'renren':
                                shareUrl = fxurl;
                                shareText = fxdesc;
                                shareDesc = '';
                                shareComment = '';
                            break;
                        default :
                                shareUrl = fxurl;
                                shareText = fxtext;
                                shareDesc = fxdesc;
                                shareComment = fxcomment;
                            break;
                    }
                });
            });
            function SetShareUrl(cmd, config) {
                if (shareUrl) {
                    config.bdUrl = "http://www.domile.com.cn" + shareUrl;
                }
                if(shareText){
                    config.bdText = shareText;
                }
                if(shareDesc){
                    config.bdDesc = shareDesc;
                }
                if(shareComment){
                    config.bdComment = shareComment;
                }
                return config;
            }
            window._bd_share_config = {
                "common": {
                    "onBeforeClick":SetShareUrl,
                    "bdPic":"http://www.domile.com.cn/static/images/logo2.png",
                    "bdMini":"2",
                    "searchPic":"1",
                    "bdMiniList":false
                },
                "share": {
                    "bdSize":"16"
                }
            };
        with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com//static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    </script>
{% endblock %}
