{% extends 'base.html' %}

{% load staticfiles %}


{% block title %}Mydemy - Instructor List{% endblock %}


{% block crumbs %}
    <div class="wp">
        <ul class="crumbs">
            <li><a href="/">Main</a>></li>
            <li>Instructors</li>
        </ul>
    </div>
{% endblock crumbs %}


{% block content %}
    <div class="wp butler_list_box list">
	    <div class='left'>
		<div class="butler_list layout">
			<div class="head">
				<ul class="fl tab_header">
					<li class="{% ifnotequal order_by 'fav' %}active{% endifnotequal %}"><a href="?order_by=">No sort filter</a> </li>
					<li class="{% ifequal order_by 'fav' %}active{% endifequal %}"><a href="?order_by=fav">Hot&#8595;</a></li>
				</ul>
                <div class="fr butler-num">Total: <span class="key">{{ instructors.object_list.count }}</span>&nbsp;&nbsp;&nbsp;</div>
			</div>
                {% for instructor in instructors.object_list %}
                    <dl class="des">
					<dt>
						<a href="{% url 'org:instructor_info' instructor.id %}">
                            <div class="picpic">
                                <img width="100" height="100" class="scrollLoading" src="{{ MEDIA_URL }}{{ instructor.avatar }}"/>
                            </div>
                        </a>
                        <div class="btns">
                            <div class="btn colectgroupbtn favbtn" style="background-color: orange" ins-id="{{ instructor.id }}">
                                {% if instructor.is_fav %}
                                    Un-favorite
                                {% else %}
                                    Favorite
                                {% endif %}
                            </div>
                        </div>
					</dt>
					<dd>
						<a href="{% url 'org:instructor_info' instructor.id %}">
                            <h1>{{ instructor.name }}<span class="key picbig">Verified</span></h1>
                        </a>
						<ul class="cont">
							<li>Years of Experience: <span>{{ instructor.work_year }}</span></li>
							<li>Position: <span>{{ instructor.curr_title }}</span></li>
							<li>Organization: <span>{{ instructor.curr_company }}&nbsp;</span></li>
							<li>Specialty: <span>{{ instructor.specialty }}</span></li>
						</ul>
					</dd>
                    <a class="buy buyservice" href="{% url 'org:instructor_info' instructor.id %}"><br>Details</a>
                </dl>
                {% endfor %}
		</div>

            <div class="pageturn">
                <ul class="pagelist">
                    {% if instructors.has_previous %}
                        <li class="long">
                            <a href="?{{ instructors.previous_page_number.querystring }}">Prev</a>
                        </li>
                    {% endif %}
                    {% for page in instructors.pages %}
                        {% if page %}
                            {% ifequal page instructors.number %}
                                <li class="active"><a>{{ page }}</a></li>
                            {% else %}
                                <li class="page">
                                    <a href="?{{ page.querystring }}">{{ page }}</a>
                                </li>
                            {% endifequal %}
                        {% endif %}
                    {% endfor %}
                    {% if instructors.has_next %}
                        <li class="long">
                            <a href="?{{ instructors.next_page_number.querystring }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>

        </div>
        <div class="right layout">
            <div class="head">Top Rated Instructors</div>
            {% for top_ins in top_instructors %}
                <dl class="des">
                    <span class="num fl">1</span>
                    <a href="{% url 'org:instructor_info' top_ins.id %}">
                        <dt>
                            <img width="50" height="50" class="scrollLoading" src="{{ MEDIA_URL }}{{ top_ins.avatar }}"/>
                        </dt>
                    </a>
                    <dd>
                        <a href="{% url 'org:instructor_info' top_ins.id %}">
                            <h1 title="{{ top_ins.name }}">{{ top_ins.name }}</h1>
                        </a>
                    </dd>
                </dl>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block custom_js %}
    <script>
        function add_fav(current_elem, fav_id, fav_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'org:org_fav' %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == 'Login Required') {
                            window.location.href = "{% url 'login' %}";
                        } else {
                            alert(data.msg);
                        }
                    } else if (data.status == 'success') {
                        current_elem.text(data.msg);
                    }
                }
            });
        }

        $('.favbtn').on('click', function () {
            add_fav($(this), $(this).attr('ins-id'), 1);
        });
    </script>
{% endblock %}
