{% extends 'base.html' %}

{% load staticfiles %}


{% block title %}Mydemy - Instructor - {{ instructor.name }}{% endblock %}


{% block crumbs %}
    <div class="wp">
        <ul class="crumbs">
            <li><a href="/">Main</a>></li>
            <li>Instructors></li>
            <li>{{ instructor.name }}</li>
        </ul>
    </div>
{% endblock crumbs %}


{% block content %}
    	<div class="wp butler-detail-box butler-diaryd-box clearfix">
        <div class="fl list">
            <div class="butler_detail_list clearfix">
                <div class="brief">
                    <dl class="des">
                        <dt>
                            <div class="picpic">
                                <img width="100" height="100" src="{{ MEDIA_URL }}{{ instructor.avatar }}"/>
                            </div>
                            <div class="btn">
                                <span id="ins_fav_btn" class="fl btn1 collectionbtn  notlogin">
                                    {% if ins_fav %}
                                        Un-favorite
                                    {% else %}
                                        Favorite
                                    {% endif %}
                                </span>
                                <span class="fr btn2 shareBtn bdsharebuttonbox"
                                      data-text="授课教师-李老师-慕学网"
                                      data-desc="我在#慕课网#发现了"
                                      data-comment="李老师，工作年限：5年；学历：本科；所在公司：阿里巴巴&nbsp;；经典案例：django入门和深入；flask入门"
                                      data-url="/diary/hk_detail/10/">
                                    <span class="fl">Share</span>
                                    <a href="#" class="bds_more" data-cmd="more"></a>
                                </span>
                            </div>
                        </dt>
                        <dd>
                            <a href="/diary/hk_detail/10/">
                                <h1>{{ instructor.name }}<span class="key picbig">Verified</span></h1>
                            </a>
                            <ul class="cont">
                                <li>Years of Experience: <span>{{ instructor.work_year }}</span></li>
                                <li>Position: <span>{{ instructor.curr_title }}</span></li>
                                <li>Organization: <span>{{ instructor.curr_company }}&nbsp;</span></li>
                                <li>Specialty: <span>{{ instructor.specialty }}</span></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="butler_detail_cont clearfix">
                <div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li class="active"><a href="/diary/hk_detail/10/">??? 全部课程</a> </li>
					</ul>
				</div>
                    <div class="companycenter">
                        <div class="group_list brief">
                            {% for course in courses %}
                                <div class="module1_5 box">
                                    <a href="{% url 'course:overview' course.id %}">
                                        <img width="214" height="190" class="scrollLoading"  src="{{ MEDIA_URL }}{{ course.image }}"/>
                                    </a>
                                    <div class="des">
                                        <a href="{% url 'course:overview' course.id %}"><h2>{{ course.name }}</h2></a>
                                        <span class="fl">Difficulty: <i class="key">{{ course.difficulty }}</i></span>
                                        <span class="fr">Students: {{ course.student_count }}</span>
                                    </div>
                                    <div class="bottom">
                                        <span class="fl">{{ course.org.name }}</span>
                                        <span class="star fr  notlogin" data-favid="15">{{ course.fav_count }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
            </div>
        </div>
        <div class="fr list">
             <div class="butler_detail_list">
                <div class="right butler-company-box">
                    <div class="head">
                        <h1>{{ org.name }}</h1>
                    </div>
                    <div class="pic">
                        <a href="{% url 'org:org_overview' org.id %}">
                            <img width="150" height="80" src="{{ MEDIA_URL }}{{ org.image }}"/>
                        </a>
                    </div>
                    <a href="{% url 'org:org_overview' org.id %}">
                        <h2 class="center">{{ org.name }}</h2>
                    </a>
                    <p class="center tell">City: {{ org.city }}</p>
                    <button class="btn notlogin" id="org_fav_btn" >
                        {% if org_fav %}
                            Un-favorite
                        {% else %}
                            Favorite
                        {% endif %}
                    </button>
                </div>
            </div>
            <div class="butler_detail_cont">
                <div class="butler_list_box">
                    <div class="right layout">
                        <div class="head">Top Rated Instructors</div>
                        {% for top_ins in top_instructors %}
                            <dl class="des">
                            <span class="num fl">1</span>
                            <a href="{% url 'org:instructor_info' top_ins.id %}">
                                <dt>
                                    <img width="50" height="50" class="scrollLoading" src="{{ MEDIA_URL }}{{ top_ins.avatar }}"/>
                                </dt>
                            </a>
                            <dd>
                                <a href="{% url 'org:instructor_info' top_ins.id %}">
                                    <h1 title="{{ top_ins.name }}">{{ top_ins.name }}</h1>
                                </a>
                            </dd>
                        </dl>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
	</div>
{% endblock %}


{% block custom_js %}
    <script>
        function add_fav(current_elem, fav_id, fav_type) {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'org:org_fav' %}",
                data: {'fav_id': fav_id, 'fav_type': fav_type},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'fail') {
                        if (data.msg == 'Login Required') {
                            window.location.href = "{% url 'login' %}";
                        } else {
                            alert(data.msg);
                        }
                    } else if (data.status == 'success') {
                        current_elem.text(data.msg);
                    }
                }
            });
        }

        $('#ins_fav_btn').on('click', function () {
            add_fav($(this), {{ instructor.id }}, 1);
        });

       $('#org_fav_btn').on('click', function () {
            add_fav($(this), {{ instructor.org.id }}, 3);
        });
    </script>
{% endblock %}
