{% extends 'org_base.html' %}
{% load staticfiles %}
{% block title %}Organization - Course - Mydemy{% endblock %}

{% block crumbs %}
    <div class="wp">
        <ul  class="crumbs">
            <li><a href="/">Main page</a>></li>
            <li><a href="{% url 'org:list' %}">Organization</a></li>
            <li>Course Information</li>
        </ul>
    </div>
{% endblock %}

{% block left_org_page %}
    <div class="left">
        <ul>
            <li><a href="{% url 'org:org_overview' org.id %}">Organization</a></li>
            <li class="active2"><a>Course</a></li>
            <li><a href="{% url 'org:org_info' org.id %}">Organization</a></li>
            <li><a href="{% url 'org:org_instructor' org.id %}">Instructor</a></li>
        </ul>
    </div>
{% endblock %}

{% block right_org_page %}
    <div class="right companycenter layout" >
		<div class="head">
			<h1>Courses</h1>
		</div>
        {% if org_courses %}
            <div class="brief group_list">
            {% for course in org_courses %}
                <div class="module1_5 box">
                    <a class="comp-img-box" href="/group/groupdetail/13/">
                        <img width="214" height="195" src="{{ MEDIA_URL }}{{ course.image }}"/>
                    </a>
                    <div class="des">
                        <a href="/group/groupdetail/13/"><h2>{{ course.name }}</h2></a>
                        <span class="fl">Duration:<i class="key">{{ course.course_duration }}</i></span>
                        <span class="fr">Students:<i class="key">{{ course.student_count }}</i></span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ course.org.name }}</span>
                         <span class="star fr  notlogin" data-favid="13" data-fav-type="4">{{ course.fav_count }}</span>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        <div class="pageturn">
            <ul class="pagelist">
                <li class="active"><a href="?page=1">1 PAGATION HERE</a></li>
            </ul>
        </div>
	</div>
{% endblock %}
