{% extends 'org_base.html' %}
{% load staticfiles %}
{% block title %}Organization - Overview - Mydemy{% endblock %}

{% block crumbs %}
    <div class="wp">
        <ul  class="crumbs">
            <li><a href="/">Main page</a>></li>
            <li><a href="">Organization</a>></li>
            <li>Organization Overview</li>
        </ul>
    </div>
{% endblock %}

{% block left_org_page %}
    <div class="left">
        <ul>
            <li class="active2"><a>Organization</a></li>
            <li><a href="{% url 'org:org_course' org.id %}">Course</a></li>
            <li><a href="{% url 'org:org_info' org.id %}">Organization</a></li>
            <li><a href="{% url 'org:org_instructor' org.id %}">Instructor</a></li>
        </ul>
    </div>
{% endblock %}

{% block right_org_page %}
	<div class="right companycenter layout grouping" >
		<div class="head">
			<h1>All Courses</h1>
			<a class="green fr more" href="{% url 'org:org_course' org.id %}">View more  >  </a>
		</div>
		<div class="brief group_list">
                {% if org_courses %}
                    {% for course in org_courses %}
                        <div class="module1_5 box">
                            <a href="/group/groupdetail/13/"><img width="214" src="{{ MEDIA_URL }}{{ course.image }}"/></a>
                            <div class="des">
                                <a href="/group/groupdetail/13/"><h2>{{ course.name }}</h2></a>
                                <span class="fl">Duration:<i class="key">{{ course.course_duration }}</i></span>
                                <span class="fr">Students:<i class="key">{{ course.student_count }}</i></span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ course.org.name }}</span>
                                 <span class="star fr  notlogin" data-favid="13"  data-fav-type="4">{{ course.fav_count }}</span>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
		</div>
	</div>
    <div class="right companycenter layout" >
        <div class="head">
            <h1>Instructors</h1>
            <a class="green fr more" href="{% url 'org:org_instructor' org.id %}">View more  >  </a>
        </div>

        <div class="diarys">
            <div class="module5 share company-diary-box" style="padding:10px 0;">
                {% if org_instructors %}
                    {% for instructor in org_instructors %}
                    <div class="left">
                        <img class="pic" src="{{ MEDIA_URL }}{{ instructor.avatar }}"/>
                        <p>{{ instructor.name }}</p>
                    </div>
                    <div class="right">
                        <div class="top">
                            <div class="fl">
                                <a href=""><h1>java开发教程</h1></a>
                                <span>Available：2015-10-12</span>
                            </div>
                        </div>
                        <div class="middle" style="border-bottom:0;">???课程介绍???</div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>
	<div class="right companycenter layout" >
		<div class="head">
			<h1>Organization Information</h1>
			<a class="green fr more" href="{% url 'org:org_info' org.id %}">View More  >  </a>
		</div>
		<div class="cont">
            <span>{{ org.desc }}</span>
        </div>
	</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
$(function(){
    var $precision = $('.precision'),
        score = $precision.attr('data-star-scope'),
        option =  {
                    half		: true,
                    path		: '{% static 'images/' %}',
                    precision	: true,
                    size		: 24,
                    starOff		: 'g_star.png',
                    starOn		: 'r_star.png',
                    starHalf	: 'h_star.png',
                    hints       : ['Horrible', 'Bad', 'So So', 'Good', 'Great'],
                    noRatedMsg  : '暂时还未获得评价！',
                    readOnly    : true,
                    score       : score
                };
    $precision.raty(option);
});
$(function() {
    $('.recordbtn1').click(function(){
        $('.recordbox1').show();
    });
    $('.recordbtn2').click(function(){
        $('.recordbox2').show();
    });

    $('.imgslide').unslider({
        speed: 500,               //  The speed to animate each slide (in milliseconds)
        delay: 3000,              //  The delay between slide animations (in milliseconds)
        complete: function() {},  //  A function that gets called after every slide animation
        keys: true,               //  Enable keyboard (left, right) arrow shortcuts
        dots: true,               //  Display dot navigation
        fluid: false              //  Support responsive design. May break non-responsive designs
    });
    var unslider = $('.imgslide').unslider();
    $('.unslider-arrow').click(function() {
        var fn = this.className.split(' ')[1];
        unslider.data('unslider')[fn]();
    });
});
</script>
{% endblock %}