{% extends 'user_base.html' %}

{% load staticfiles %}

{% block title %} Favorite Courses - {{ request.user.nickname }}{% endblock %}

{% block crumbs %}
	<div class="wp">
		<ul  class="crumbs">
			<li><a href="/">Main</a>></li>
            <li><a href="/">User</a>></li>
            <li>User Courses</li>
		</ul>
	</div>
{% endblock crumbs %}

{% block right_content %}
    <div class="right" >
		<div class="personal_des Releasecont">
			<div class="head">
				<h1>My Courses</h1>
			</div>
		</div>
		<div class="personal_des permessage">
			<div class="companycenter">
				<div class="group_list brief">
                    <div class="module1_5 box">
                        {% for course in courses %}
                            <a href="{% url 'course:overview' course.id %}">
                                <img width="214" height="190" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}"/>
                            </a>
                            <div class="des">
                                <a href="{% url 'course:overview' course.id %}"><h2>{{ course.name }}</h2></a>
                                <span class="fl">Difficulty: <i class="key">{{ course.difficulty }}</i></span>
                                <span class="fr">Students: {{ course.student_count }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ course.org.name }}</span>
                                <span class="star fr  notlogin">{{ course.fav_count }}</span>
                            </div>
                        {% endfor %}
                    </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block custom_js %}
{% endblock %}
