{% extends 'user_base.html' %}

{% load staticfiles %}

{% block title %} Favorite Courses - {{ request.user.nickname }}{% endblock %}

{% block crumbs %}
	<div class="wp">
		<ul  class="crumbs">
			<li><a href="/">Main</a>></li>
            <li><a href="/">User</a>></li>
            <li>User Information</li>
		</ul>
	</div>
{% endblock crumbs %}

{% block right_content %}
    <div class="right" >
            <div class="personal_des Releasecont">
                <div class="head">
                    <h1>Favorite</h1>
                </div>
            </div>
            <div class="personal_des permessage">
                <div class="head">
                    <ul class="tab_header messagehead">
                        <li><a href="{% url 'user:fav_org' %}">Organizations</a></li>
                        <li ><a href="{% url 'user:fav_ins' %}">Instructors</a></li>
                        <li class="active"><a href="{% url 'user:fav_course' %}">Courses</a></li>
                    </ul>
                </div>
                <div class="companycenter">
                    <div class="group_list brief">
                        {% for course in courses %}
                            <div class="module1_5 box">
                                <a href="{% url 'course:overview' course.id %}">
                                    <img width="214" height="190" class="scrollLoading" src="{{ MEDIA_URL }}{{ course.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'course:overview' course.id %}"><h2>{{ course.name }}</h2></a>
                                    <span class="fl">Difficulty: <i class="key">{{ course.difficulty }}</i></span>
                                    <span class="fr">Student: {{ course.student_count }}</span>
                                </div>
                                <div class="bottom">
                                    <span class="fl">{{ course.org.name }}</span>
                                    <span class="delete-group fr jsDeleteFav" fav-id="{{ course.id }}"></span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        $('.jsDeleteFav').on('click', function () {
            add_fav($(this), $( this ).attr( "fav-id" ), 2, "{% url 'org:org_fav' %}", "{{ csrf_token }}");
        });
    </script>
{% endblock %}