{% extends 'user_base.html' %}

{% load staticfiles %}

{% block title %} Favorite Organizations - {{ request.user.nickname }}{% endblock %}

{% block crumbs %}
	<div class="wp">
		<ul  class="crumbs">
			<li><a href="/">Main</a>></li>
            <li><a href="/">User</a>></li>
            <li>User Information</li>
		</ul>
	</div>
{% endblock crumbs %}

{% block right_content %}
    <div class="right" >
            <div class="personal_des Releasecont">
                <div class="head">
                    <h1>Favorite</h1>
                </div>
            </div>
            <div class="personal_des permessage">
                <div class="head">
                    <ul class="tab_header messagehead">
                        <li class="active"><a href="{% url 'user:fav_org' %}">Organizations</a></li>
                        <li ><a href="{% url 'user:fav_ins' %}">Instructors</a></li>
                        <li><a href="{% url 'user:fav_course' %}">Courses</a></li>
                    </ul>
                </div>
                <div class="messagelist">
                    {% for org in orgs %}
                        <div class="messages butler_list company company-fav-box">
                        <dl class="des fr">
                            <dt>
                                <a href="{% url 'org:org_overview' org.id %}">
                                    <img width="160" height="90" class="scrollLoading" src="{{ MEDIA_URL }}{{ org.image }}"/>
                                </a>
                            </dt>
                            <dd>
                                <h1><a href="{% url 'org:org_overview' org.id %}">{{ org.name }}</a></h1>
                                <div class="pic fl" style="width:auto;">
                                    <img src="{% static 'images/authentication.png' %}"/>
                                    <img src="{% static 'images/gold.png' %}"/>
                                </div>
                                <span class="c8 clear">{{ org.address }}</span>
                                <div class="delete jsDeleteFav" fav-id="{{ org.id }}"></div>
                            </dd>
                        </dl>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        $('.jsDeleteFav').on('click', function () {
            add_fav($(this), $( this ).attr( "fav-id" ), 3, "{% url 'org:org_fav' %}", "{{ csrf_token }}");
        });
    </script>
{% endblock %}
